<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        body {
            background-color: #D1F4F4;
        }

        .container {
            margin-top: 20px;
        }

        .logout-btn {
            margin-top: 0px;
            margin-left: 1000px;
        }

        .alert {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1050;
        }

        .hidden {
            display: none;
        }

        .card-header {
            background-color: #80d1f7;
        }

        .card {
            background-color: #e4e9f0;
            margin-bottom: 20px;
        }

        button[class="btn btn-default"] {
            background-color: hsl(222, 96%, 81%);
        }

        .dashboard {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .dashboard .card {
            flex: 1 1 300px;
            margin: 10px;
        }

        @media (max-width: 768px) {
            .dashboard .card {
                flex: 1 1 100%;
            }
        }

        .action-icon {
            font-size: 1.2em;
            color: #007bff;
            margin-left: 10px;
        }

        .user-action-section {
            display: flex;
            gap: 10px;
        }

        .hidden {
            display: none;
        }
        #delete{
            display:flex;

        }

    </style>
</head>

<body>
    <div class="container">
        <h1>Welcome, Admin!</h1>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert" id="flash-message">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}

        <a href="{{ url_for('logout') }}" class="btn btn-primary logout-btn">Logout</a>

        <br><br>

        <div class="dashboard">
            <div class="card">
                <div class="card-header">
                    Add Users
                </div>
                <div class="card-body">
                    <button class="btn btn-default" onclick="toggleVisibility('add-user-form')">Add User</button>
                    <div id="add-user-form" class="hidden">
                        <form id="formuser">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="role">Role:</label>
                                <select class="form-control" id="role" name="role">
                                    <option value="user">User</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                            <button id="add_user_btn" type="submit" class="btn btn-default">Add User</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Users List
                </div>
                <div class="card-body">
                    <button class="btn btn-default" onclick="toggleVisibility('user-list-section')">View Users</button>
                    <div id="user-list-section" class="hidden">
                        <h5>Users List</h5>
                        <ul class="list-group" id="user-list">
                            <!-- User items will be added here -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Uploaded Files
                </div>
                <div class="card-body">
                    <button class="btn btn-default" onclick="toggleVisibility('uploaded-files-section')">View Uploaded
                        Files</button>
                    <div id="uploaded-files-section" class="hidden">
                        <h5>Uploaded Files</h5>
                        <ul class="list-group" id="fileslist">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <!-- Form for file upload -->
        <div class="card">
            <div class="card-header">
                Upload File
            </div>
            <div class="card-body">
                <form action="{{ url_for('add_file') }}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Select File:</label>
                        <input type="file" class="form-control-file" id="file" name="file" required>
                    </div>
                    <button type="submit" class="btn btn-default">Upload File</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        window.onload = function () {
            const flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                setTimeout(() => {
                    flashMessage.classList.remove('show');
                    flashMessage.classList.add('fade');
                    setTimeout(() => {
                        flashMessage.remove();
                    }, 500);
                }, 2000);
            }
        };

        document.getElementById('formuser').addEventListener('submit', function (event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const role = document.getElementById('role').value;

            fetch('/add_user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    admin_username: 'admin',
                    admin_password: 'admin123',
                    username: username,
                    password: password,
                    role: role
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('User added successfully!');
                        document.getElementById('username').value = '';
                        document.getElementById('password').value = '';
                    } else {
                        alert('Failed to add user: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
        let selectedUser = null;



        function fetchUsers() {
            fetch('/get_users')
                .then(response => response.json())
                .then(data => {
                    const userList = document.getElementById('user-list');
                    userList.innerHTML = '';

                    data.forEach(user => {
                        const listItem = document.createElement('li');
                        listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                        listItem.innerHTML = `
                    <span>${user.username}</span>
                    <i class="fas fa-ellipsis-v action-icon" style="cursor: pointer;" onclick="showUserActions('${user.username}', this)"></i>
                `;
                        const actionDiv = document.createElement('div');
                        actionDiv.classList.add('user-action-section', 'hidden', 'mt-2');
                        actionDiv.innerHTML = `
                    <button class="btn btn-danger btn-sm" onclick="removeUser('${user.username}', this)">Remove</button>
                    <button class="btn btn-secondary btn-sm" onclick="cancelAction(this)">Cancel</button>
                `;

                        listItem.appendChild(actionDiv);
                        userList.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error fetching users:', error));
        }


        function showUserActions(username, iconElement) {
            const allActionSections = document.querySelectorAll('.user-action-section');
            allActionSections.forEach(section => section.classList.add('hidden'));
            const actionSection = iconElement.nextElementSibling;
            actionSection.classList.remove('hidden');
        }
        function removeUser(username, buttonElement) {
    // Send a request to delete the user without requiring admin credentials
    fetch('/delete_user', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            username: username
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('User removed successfully!');
            fetchUsers(); // Refresh the user list
        } else {
            alert('Failed to remove user: ' + data.message);
        }
    })
    .catch(error => {
        console.error('Error removing user:', error);
    });
}

function cancelAction(buttonElement) {
    const actionSection = buttonElement.parentElement;
    actionSection.classList.add('hidden'); 
}

        function fetchUploadedFiles() {
            fetch('/get_files')
                .then(response => response.json())
                .then(data => {
                    const uploadedFilesList = document.getElementById('fileslist');
                    uploadedFilesList.innerHTML = '';

                    if (data.length === 0) {
                        uploadedFilesList.innerHTML = '<li class="list-group-item">No files uploaded</li>';
                    } else {
                        data.forEach(file => {
                            const listItem = document.createElement('li');
                            listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                            listItem.innerHTML = `<a href="/uploads/${file.filename}" target="_blank">${file.filename}</a>
                            <i class="fas fa-trash-alt action-icon" id="delete" style="cursor: pointer;" onclick="deleteFile('${file.filename}', this)"></i>`;
                            uploadedFilesList.appendChild(listItem);
                        });
                    }
                })
                .catch(error => console.error('Error fetching files:', error));
        }
        function deleteFile(filename, iconElement) {
    fetch('/delete_file', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            filename: filename
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('File deleted successfully!');
            fetchUploadedFiles(); // Refresh the file list
        } else {
            alert('Failed to delete file: ' + data.message);
        }
    })
    .catch(error => {
        console.error('Error deleting file:', error);
    });
}

        function toggleVisibility(id) {
            const component = document.getElementById(id);
            component.classList.toggle('hidden');
            fetchUsers();
            fetchUploadedFiles();
        }


    </script>
</body>

</html>
